<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="menu" th:fragment="menu">
  <ul>
    <a class="nav-link" href="../login.html" th:unless="${false}"
       th:href="@{/login}">No</a>
    <a class="nav-link" href="../login.html" th:unless="${false}"
       type="button" th:href="@{/login}">Options</a>
    <a class="nav-link" href="../login.html" th:unless="${false}"
       type="button" th:href="@{/login}">Yet</a>
  </ul>
</div>
</body>
</html>